.detail-view-row .label, .edit-view-row-item .label {
    white-space: normal;
    line-height: 1.5;
}

.col-advanced-search label {
    white-space: normal !important;
}

.modal-content .search_form .view select:not([multiple]) {
    width: 100%;
}

.dashletPanel .list tr th {
    overflow-wrap: anywhere;
}
