.detail-view-row .label, .edit-view-row-item .label {
    white-space: normal;
    line-height: 1.5;
}

.detail-view-field span#name1_span,
.detail-view-field span#contract1_span,
.detail-view-field span#data_source1_span,
.detail-view-field span#finna_view1_span,
.detail-view-field span#finna_link1_span {
    display: inline;
}

.col-advanced-search label {
    white-space: normal !important;
}

.modal-content .search_form .view select:not([multiple]) {
    width: 100%;
}

.dashletPanel .list tr th {
    overflow-wrap: anywhere;
}
