.accountstable tr td[scope=row]
{
    padding-left:0 !important;
    padding-top:0 !important;
}

.contractstable tr td[scope=row]
{
    padding-left:0 !important;
    padding-top:0 !important;
}

.contract-name,
.data-source-name {
    font-weight: bold;
}

tr.multirow-even
{
    background-color: #dfdfdf;
}

tr.multirow-last td
{
    padding-bottom: 3em !important;
}

.edit.view table#createAccounts
{
    margin-bottom: 2.5em;
}

@media print {
    header { display: none }
    a[href]:after { content: none !important; }
}
